@use 'commons';
// subpage
:root {
  --global-background-color: #F0F0F0;
  --global-color           : #263238;
  --link-background-color      : transparent;
  --link-color                 : var(--global-color);
  --link-hover-background-color: inherit;
  --link-hover-color           : #616161;

  --hr-color: rgb(0,0,0,.1);

  --menu-background-color      : transparent;
  --menu-color                 : var(--link-color);
  --menu-hover-background-color: #424242;
  --menu-hover-color           : #FAFAFA;
  --menu-padding               : .5rem .75rem;

  --primary-background-color: #04acc4;
  --primary-color           : #FAFAFA;

  --secondary-background-color: var(--global-background-color);
  --secondary-color           : var(--global-color);

  --footer-background-color: #F0F0F0;
  --footer-color           : #424242;
}

body {
  background-color: var(--global-background-color);
  color           : var(--global-color);
}

a {
  background-color: var(--link-background-color);
  color           : var(--link-color);
}

a:focus,
a:hover {
  background-color: var(--link-hover-background-color);
  color           : var(--link-hover-color);
}

.logo {
  height: 3rem;
}

.logo-title {
  font-size  : 2rem;
  margin-left: .15rem
}

.menu-item {
  margin-right: .25rem;
  &:last-child {
    margin-right: 0;
  }
}

.menu-link {
  background-color: var(--menu-background-color);
  color           : var(--menu-color);
  padding         : var(--menu-padding);
}

.menu-link:focus,
.menu-link:hover {
  background-color: var(--menu-hover-background-color);
  color           : var(--menu-hover-color);
}

hr {
  border   : 2px solid var(--global-color);
  max-width: 10rem;
  margin   : 1rem auto;
}

main {
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }
  h3, h5 {
    font-weight: 300;
  }
  p {
    font-size: 1.25rem;
  }
  strong {
    font-weight: 500;
  }
}

.main-box {
  margin: 15% auto;
}

.item-content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.field-item {
  margin-top: 1rem;
}

[class*='btn-outline'],
.btn:focus,
[class*='btn-outline']:focus,
[class*='btn-outline']:active:focus {
  box-shadow: none;
}

.mt-1\/10 {
  margin-top: 10%;
}

.sponsor-items {
  img {
    height: 8rem;
  }
}

footer {
  background-color: var(--footer-background-color);
  color           : var(--footer-color);

  a {
    color: var(--footer-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    font-size  : .9rem;
    font-weight: 300;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
