@use 'commons';
// home
:root {
  --global-background-color    : #F0F0F0;
  --global-color               : #263238;
  --link-background-color      : transparent;
  --link-color                 : var(--global-color);
  --link-hover-background-color: inherit;
  --link-hover-color           : #616161;

  --main-background-image: url('/images/logo.svg');

  --menu-background-color      : transparent;
  --menu-color                 : var(--link-color);
  --menu-hover-background-color: #424242;
  --menu-hover-color           : #FAFAFA;
  --menu-padding               : .5rem .75rem;

  --primary-background-color           : #04acc4;
  --primary-color                      : #FAFAFA;
  --primary-link-hover-background-color: inherit;
  --primary-link-hover-color           : #E0E0E0;

  --secondary-background-color           : var(--global-background-color);
  --secondary-color                      : var(--global-color);
  --secondary-link-hover-background-color: inherit;
  --secondary-link-hover-color           : var(--link-hover-color);

  --footer-background-color: #FAFAFC;
  --footer-color           : #424242;
}

body {
  background-color: var(--global-background-color);
  color           : var(--global-color);
}

a {
  background-color: var(--link-background-color);
  color           : var(--link-color);

  &:focus,
  &:hover {
    background-color: var(--link-hover-background-color);
    color           : var(--link-hover-color);
  }
}

.logo {
  height: 3rem;
}

.logo-title {
  font-size  : 2rem;
  margin-left: .15rem
}

.menu-item {
  margin-right: .25rem;
  &:last-child {
    margin-right: 0;
  }
}

.menu-link {
  background-color: var(--menu-background-color);
  color           : var(--menu-color);
  padding         : var(--menu-padding);
}

.menu-link:focus,
.menu-link:hover {
  background-color: var(--menu-hover-background-color);
  color           : var(--menu-hover-color);
}

.opencollective {
  vertical-align: -.125em;
}
.opencollective:hover {
  fill: var(--menu-hover-color);
}

.menu-item .dropdown-menu li {
  display: inline !important;
}

main {
  background-image   : var(--main-background-image);
  background-position: 50% 20%;
  background-size    : 20%;
  background-repeat  : no-repeat;
}

.main-box {
  margin-top  : 50%;
  margin-left : auto;
  margin-right: auto;

  h1 {
    font-size    : 3rem;
    font-weight  : 300;
    margin-bottom: 1%;
  }

  h3 {
    font-size  : 2.75rem;
    font-weight: 100;
  }
}

@media only screen and (min-width: 640px) {
  // main {
  //   background-size: 20%;
  // }
  .main-box {
    margin-top: 50%;

    h1 {
      font-size    : 6rem;
    }
    h3 {
      font-size  : 3rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    background-size: 15%;
  }
  .main-box {
    margin-top: 30%;

    h1 {
      font-size    : 7rem;
    }
    h3 {
      font-size  : 4rem;
    }
  }
}

hr {
  border   : 3px solid var(--global-color);
  max-width: 150px;
  margin   : 1rem auto;
}

section {
  padding: 3rem 0;
}

.primary-content {
  background-color: var(--primary-background-color);
  color           : var(--primary-color);

  a {
    color: var(--primary-color);

    &:focus,
    &:hover {
      background-color: var(--primary-link-hover-background-color);
      color           : var(--primary-link-hover-color);
    }
  }

  hr {
    border-color: var(--primary-color);
  }
}

.secondary-content {
  background-color: var(--secondary-background-color);
  color           : var(--secondary-color);

  a {
    color: var(--secondary-color);

    &:focus,
    &:hover {
      background-color: var(--secondary-link-hover-background-color);
      color           : var(--secondary-link-hover-color);
    }
  }

  hr {
    border-color: var(--secondary-color);
  }
}

.sponsor-items {
  img {
    height: 10rem;
  }
}

footer {
  background-color: var(--footer-background-color);
  color           : var(--footer-color);

  a {
    color: var(--footer-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    font-size  : .9rem;
    font-weight: 300;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}